* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
 
}

h3 {
	color: white;
	font-size: 48px;
	width: 100%;
}

.content {
	margin: auto;
	width:100%;
	border-top: 2px solid grey;
	border-bottom: 2px solid grey;
	padding: 10px;
	background-color: white;
	height: 100%;
	display: grid;
	grid-template-columns: 400px 1fr; 
	grid-template-rows: 1fr 1fr;
	grid-gap: 10px;
}
#page_container {
	margin: auto;
	width: 100%;
	height: 100vh;
	
	

}

#content_container {
	max-width: 90rem;
	width: 100%;
	height: 100%;
	margin: auto;
	box-shadow: 0px 4px 8px 0px black;
	padding: 20px;
	
}

#left-panel {
	grid-column: 1;
	grid-row: 1 / -1;
	height: 100%;
	width: 100%;
	background-color: lightgrey;
	padding: 10px;
	text-align: center;
}

#top-right-panel{
	grid-column: 2;
	grid-row: 1;
	height: 100%;
	width: 100%;
	padding: 5%;
}

.tab {
	padding: 16px;
	width:100%;
	height: 50px;
	border: 1px solid grey;
	background-color: silver;
	border-radius: 5px;
}

.upload-container {

	width:200px;
	height: 100px;
	border: 1px solid grey;
	border-radius: 5px;
	margin: auto;
	margin-top: 50%;
	padding: 10px;
	background-color: white;
	text-align: left;
}

#label {
	text-align: center;
	margin-bottom: 10px; 
}

table {
	width: 100%;
	border-collapse: collapse;
	text-align: center;
	border-color: grey;
}
th, td {
	padding: 15px;
	border-bottom: 1px solid grey;
}

th {
	font-size: 18px;
	background-color: black;
	color: white;
}

a  {
	text-decoration: none;
	font-size: 18px;
	color: black;
}













